
project_java/.idea
project_java/*.iml
project_java/target
project_java/logs
project_java/out
project_java/classes

*.opendb
*.db
project_cpp/GameNativeLibrary/x64
*.suo
*.vcxproj
project_cpp/GameNativeLibrary/GameNativeLibrary/x64
project_cpp/GameNativeLibrary/.vs

.DS_Store

*.dSYM

build
CMakeFiles